*{
    padding: 0px;
    margin: 0px;
}

#heading{
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: rgb(175, 175, 248);
}

.name{
    display: inline-block;
}

.name2{
    text-decoration: none;
}

.name1{
    padding-left: 50px;
    padding-right: 50px;
    display: inline-block;
    line-height: 50px;
    font-size: 20px;
    color: black;
}

.name1:hover{
    background-color: rgb(112, 112, 253);
}

#head{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 50px;
    text-align: center;
    width: 100%;
    height: 430px;
    background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20190220/ourmid/pngtree-technology-electronic-financial-background-image_5994.jpg");
}

.head1{
    line-height: 200px;
    text-decoration: none;
    color: white;
}

.head11{
    font-size: 100px;
}

.head12{
    font-size: 50px;
}

#than{
    position: relative;
    padding-top: 10px;
    background-image: url("http://2.bp.blogspot.com/-55GNd-4ocNY/U4dX78-G4TI/AAAAAAACHqA/-llUQ1DYfi0/s1600/floatie.gif");
    width: 100%;
    height: 440px;
}

#content0{
    position: absolute;
    margin-left: 5%;
    margin-top: 10px;
    width: 200px;
    height: 400px;
    background-color: rgba(255, 0, 0, 0.5);
}

.content1{
    margin-top: 20px;
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
}

.content11{
    text-align: center;
}

.content21{
    text-decoration: none;
    color: black;
}

.content22{
    font-size: 20px;
}

.content23{
    font-size: 35px;
}

#content00{
    position: absolute;
    margin-left: 30%;
    margin-top: 10px;
    width: 200px;
    height: 400px;
    background-color: rgba(255, 255, 0, 0.5);
}

.content3{
    margin-top: 20px;
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
}

.content31{
    text-align: center;
}

.content321{
    text-decoration: none;
    color: black;
}

.content322{
    font-size: 20px;
}

.content323{
    font-size: 35px;
}

#content000{
    position: absolute;
    margin-left: 55%;
    margin-top: 10px;
    width: 200px;
    height: 400px;
    background-color: rgba(255, 255, 0, 0.5);
}

.content4{
    margin-top: 20px;
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
}

.content41{
    text-align: center;
}

.content421{
    text-decoration: none;
    color: black;
}

.content422{
    font-size: 20px;
}

.content423{
    font-size: 35px;
}

#content0000{
    position: absolute;
    margin-left: 80%;
    margin-top: 10px;
    width: 200px;
    height: 400px;
    background-color: rgba(153, 205, 50, 0.5);
}

.content5{
    margin-top: 20px;
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
}

.content51{
    text-align: center;
}

.content521{
    text-decoration: none;
    color: black;
}

.content522{
    font-size: 20px;
}

.content523{
    font-size: 35px;
}

#footer{
    background-image: url("https://1.bigdata-vn.com/wp-content/uploads/2021/10/1633896518_529_Anh-bia-hacker-dep-chat-cuc-ngau-loi-va-ca.jpg");
    background-repeat: no-repeat;
    display: inline-block;
    background-size: 100% 100%;
    height: 150px;
    width: 100%;
}

.text00{
    margin-top: 20px;
    display: inline-block;
    padding-left: 10%;
}

.text1{
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
}

.text11{
    text-decoration: none;
    color: white;
}

.text111{
    font-size: 20px;
    text-align: center;
}




