*{
    padding: 0;
    margin: 0;
}

#text{
    width: 100%;
    height: 200px;
    background-color: black ;
}

#taskbar{
    width: 100%;
    height: 40px;
    background-color: greenyellow ;
    position: relative;

}

#taskbar1{
    text-align: center;
}

.taskbar11{
    padding-bottom: 5px;
    padding-left: 50px;
    padding-right: 50px;
    display: inline-block;
    line-height: 35px;
    font-size: 20px;
    color: black;
}

.taskbar12{
    color: black;
    text-decoration: none;
}

.taskbar11:hover{
    background-color: rgb(135, 201, 37);
}
.image-1{
    width: 100%;
    border-radius: 10px;   
}
.image-2{
    width: 100%;
}
#flexx-container{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}
.para-1{
    font-size: 30px;
    text-align: center;
}
.para-2{
    text-align: center;
    font-size: 18px;
}
.boder-1{
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
}
.boder-2{
    border-radius: 10px;
    border: 1px solid black;
    margin-top: 80px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    text-align: center;
}
#bottom-1{
    background-image: url("http://2.bp.blogspot.com/-55GNd-4ocNY/U4dX78-G4TI/AAAAAAACHqA/-llUQ1DYfi0/s1600/floatie.gif");
    margin-top: 30px;
    margin-bottom: 30px;
}
#footer{
    background-color: white;
    color: black;
}
#footer-in{
    text-align: left;
    font-size: 20px;
}
h6{
    text-align:center;
    padding-top: 20px;
}
.a:link{
    background-color: black;
    color: white;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    border-radius: 50px;
    margin-left: 150px;
    margin-right: 150px;
    padding: 10px;
}
.a:visited{
    background-color: black;
    color: white;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    border-radius: 50px;
    margin-left: 150px;
    margin-right: 150px;
    padding: 10px;
}
.a:hover{
    border-radius: 50px;
    border: 1px solid black;
    background-color: white;
    color: black;
}


